<!DOCTYPE html>
<html>
<head>
  <title>Title of the document</title>
</head>

<body>
  <ul>
    <li><a class ="active" href = "home">Home</a></li>
    <li><a href = "profile">Profile</a></li>
    <li><a href = "setting">Settings</a></li>
    <li><a href = "logout">Log out</a></li>
  </ul>
  <%= form_tag(:action => 'add_gender') do %>
    <p>Gender: <%= text_field_tag(:gender) %></p>
    <%= submit_tag("Log In") %>
  <% end %>
  <div class = "CenterAll">
    <%= form_tag(:action => 'choose_program') do %>

        <%= radio_button_tag(:choose_program, "strength") %>
        <%= label_tag(:choose_program, "Strength") %>

        <%= radio_button_tag(:choose_program, "condition") %>
        <%= label_tag(:choose_program, "Condition") %>

        <%= radio_button_tag(:choose_program, "weightloss") %>
        <%= label_tag(:choose_program, "Weight loss") %>
        
      <p></p>
      <%= submit_tag("Choose") %>
    <% end %>

  </div>
</body>

</html>
