<!DOCTYPE html>
<html>
<head>
  <title>Title of the document</title>
</head>

<body>
  <ul>
    <li><a class ="active" href = "home">Home</a></li>
    <li><a href = "profile">Profile</a></li>
    <li><a href = "setting">Settings</a></li>
    <li><a href = "logout">Log out</a></li>
  </ul>

  <div class = "CenterAll">
    <%= form_tag(:action => 'add_gender') do %>
        <%= radio_button_tag(:gender, "male") %>
        <%= label_tag(:gender, "Male") %>

        <%= radio_button_tag(:gender, "female") %>
        <%= label_tag(:gender, "Female") %>
        <p></p>
        <%= submit_tag("Add gender") %>
    <% end %>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <%= form_tag(:action => 'choose_program') do %>

        <%= radio_button_tag(:programtype, "strength") %>
        <%= label_tag(:programtype, "Strength") %>

        <%= radio_button_tag(:programtype, "condition") %>
        <%= label_tag(:programtype, "Condition") %>

        <%= radio_button_tag(:programtype, "weightloss") %>
        <%= label_tag(:programtype, "Weight loss") %>

      <p></p>
      <%= submit_tag("Choose") %>
    <% end %>

  </div>
</body>

</html>
