<div class = "HomeBorder">
  <%= form_tag(:action => 'add_gender') do %>
      <%= radio_button_tag(:gender, "male") %>
      <%= label_tag(:gender, "Male") %>
      <%= radio_button_tag(:gender, "female") %>
      <%= label_tag(:gender, "Female") %>
      <p></p>
      <%= submit_tag("Add gender") %>
  <% end %>
  <p></p>

  <%=flash[:alert]%>

  <%= form_tag(:action => 'choose_program') do %>
      <%= select_tag(:program, options_for_select(@items), {include_blank: 'PROGRAMS'})%>
      <%= submit_tag("Choose") %>
  <% end %>

  <p><%= flash[:notice] %></p>
</div>
