
<div class = "HomeBorder">
  <%=flash[:alert]%>

  <%= form_tag(:action => 'choose_program') do %>
      <% if @current_user.gender == "male" %>
          <%= radio_button_tag(:gender, "male", true) %>
          <%= label_tag(:gender, "Male") %>
          <%= radio_button_tag(:gender, "female") %>
          <%= label_tag(:gender, "Female") %>
      <% elsif @current_user.gender == "female"%>
          <%= radio_button_tag(:gender, "male") %>
          <%= label_tag(:gender, "Male") %>
          <%= radio_button_tag(:gender, "female", true) %>
          <%= label_tag(:gender, "Female") %>
      <% else %>
          <%= radio_button_tag(:gender, "male") %>
          <%= label_tag(:gender, "Male") %>
          <%= radio_button_tag(:gender, "female") %>
          <%= label_tag(:gender, "Female") %>
      <% end %>
      <p></p>

      <%= select_tag(:program, options_for_select(@items), {include_blank: 'PROGRAMS'})%>

      <%= label_tag :need_coach? %>
      <%= check_box_tag :need_coach?, 1, params[:need_coach?] %>

      <%= submit_tag("Choose") %>
  <% end %>
  <p>If coach is chosen, you will be presented all available coaches when checkout.</p>


  <p><%= flash[:notice] %></p>
</div>
