<div class= "CenterAll">

  <h2 class='User_Header'>Halla, <%= @current_user.username%>! </h2>
  <p> Du har valgt programmet: <%= session[:program] %> for <%= @current_user.gender %>s <%= session[:price]%> $</p>


  <img src="<%= Item.get_program_picture(session[:program]) %>" style="width:304px;height:228px;">
  <p></p>
  <%=link_to "Checkout", new_transaction_path, class: "button"%>

</div>


<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2 class="mbs">New Transaction</h2>
  <p>Please enter your payment details:</p>
  <%= form_for(transactions_path) do%>
      <div id="dropin"></div>
      <%=submit_tag "Pay 4$", class: "button mt1" %>
  <%end%>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>