<div class= "CenterAll">

  <h2 class='User_Header'>Halla, <%= @current_user.username%>! </h2>
  <p> Du har valgt programmet: <%= session[:program] %> for <%= @current_user.gender %>s <%= session[:price]%> $</p>


  <img src="<%= Item.get_program_picture(session[:program]) %>" style="width:304px;height:228px;">
  <p></p>
  <%=link_to "Checkout", trans_path, class: "button"%>

</div>