<div class = "ProfileBorder" >
  <h2 class='User_Header'>Halla, <%= @current_user.username%>! </h2>
  <p> Din email: <%= @current_user.email%> </p>
  <p> Du lagde denne brukeren: <%= @current_user.created_at%> </p>
  <p> Admin?: <%= @current_user.admin? %> </p>
</div>

<div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
  <h2 class="mbs">New Transaction</h2>
  <p>Please enter your payment details:</p>
  <%= form_tag transactions_path do%>
      <div id="dropin"></div>
      <%=submit_tag "Pay 4$", class: "button mt1" %>
  <%end%>
  <%= link_to 'Back', root_url%>
</div>

<script src="https://js.braintreegateway.com/v2/braintree.js"></script>