<div class="CenterAll">
  <p><strong>Your recent purchase: <%= @current_user.program %> program</strong></p>

  <% if @current_user.coach.nil? %>
      <p> :) </p>
  <% else %>
      <p><strong>Your coach is: <%= @current_user.coach.name %></strong></p>
      <p>Change coach? You can change coach <%= @current_user.change_limit %> times!</p>

      <%= form_tag(:action => 'select_coach') do %>
          <%= select_tag(:coach, options_for_select(@coaches), {include_blank: 'COACHES'})%>
          <%= submit_tag("Change now!") %>
      <% end %>

      <% for st in Coach.all do%>
          <p> <strong><%= st.name %></strong> is now coaching: <strong><%= st.clients %>/<%= st.limit%></strong></p>
      <% end %>


  <% end%>
</div>
