<!DOCTYPE html>
<html>
<head>
  <title>Title of the document</title>
</head>

<body>
<ul>
  <li><a href = "home">Home</a></li>
  <li><a href = "profile">Profile</a></li>
  <li><a href = "setting">Settings</a></li>
  <% if @current_user.admin? %>
      <li><a class ="active" href = "adminpage">Admin</a></li>
  <% end %>
  <li><a href = "logout">Log out</a></li>
</ul>

  <div class="Left">

    <%= form_tag(:action => 'add_items') do %>
        <p><strong>Add a new item</strong></p>
        <p>Program:</br> <%= text_field_tag(:program) %></p>
        <p>Price:</br> <%= text_field_tag(:price) %></p>
        <p>Picture(not needed):</br> <%= text_field_tag(:picture) %></p>
        <%= submit_tag("Add new item to database") %>
    <% end %>
  </div>

  <div class="Center">
    <%= form_tag(:action => 'delete_items') do %>
        <p><strong>Delete an existing item</strong></p>
        <p>Choose program:</p>
        <%= select_tag(:program, options_for_select(@items))%>
        <p></p>
        <%= submit_tag("Delete this item") %>
    <% end %>
  </div>

  <div class="Right">
    <%= form_tag(:action => 'update_items') do %>
        <p><strong>Update an item</strong></p>
        <p>Choose program:</p>
        <%= select_tag(:program, options_for_select(@items))%>

        <p>New program:</br> <%= text_field_tag(:new_program) %></p>
        <p>New price($):</br> <%= text_field_tag(:new_price) %></p>
        <p>Picture(not needed):</br> <%= text_field_tag(:new_picture) %></p>
        <%= submit_tag("Update this item") %>

    <% end %>
  </div>
  <p></p>
<div class = "CenterAll">
  <strong><%=flash[:notice] %></strong>
</div>

</body>

</html>
